$black: #000;
$white: #fff;

$brand-primary: #0C81CF;
$brand-secondary: #091431;

$gray-primary: #484F57;
$gray-secondary: #EFEFEF;å

.black { color: $black }
.white { color: $white }

.brand-primary { color: $brand-primary }
.brand-secondary { color: $brand-secondary }

.gray-primary { background-color: $gray-primary }
.gray-secondary { background-color: $gray-secondary }
